.cell-wrap {
  box-sizing: border-box;
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 1px;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  width: 100%;
  height: 100%;
}

.white {
  background: #fff;
}

.black {
  background: #000;
}

.grey {
  background: #ccc;
}

p {
  padding: 6px 0;
  margin: 0;
}
